# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc
.phpcs.cache
/dist*

# Grunt
/node_modules/
none

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Composer
/vendor/

*.zip

bash.exe.stackdump
