.wpfda-enable:hover {
  cursor: pointer;
}

span.wpfda-enable.dashicons.dashicons-marker {
    width: 2px;
    height: 2px;
    color: silver;
    font-size: 14px;
    padding-top:5px;
    color:limegreen;
}

.wpfda-disable:hover {
  cursor: pointer;
}

span.wpfda-disable.dashicons.dashicons-marker {
    width: 2px;
    height: 2px;
    color: silver;
    font-size: 14px;
    padding-top:5px;
    color:silver;
}

.wp-core-ui #wp-frontend-delete-account-settings-page select {
    width: 32%;
}

#wp-frontend-delete-account-settings-page input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
   width: 32%;
}

#wp-frontend-delete-account-review-notice.wp-frontend-delete-account-review-notice {
	padding: 15px 15px 15px 0;
	background-color: #fff;
	margin: 15px 15px 15px 0;
}

#wp-frontend-delete-account-review-notice .notice-dismiss:before {
	display: none
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-thumbnail {
	float: left;
	text-align: center;
	margin: 5px 20px
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-thumbnail img {
	border-radius: 5px;
	vertical-align: middle
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-text {
	overflow: hidden
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-text h3 {
	font-size: 20px;
	margin: 0 0 5px;
	line-height: 1.3
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-text p {
	font-size: 13px
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-ul {
	margin: 0;
	padding: 0
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-ul li {
	display: inline-block;
	margin-right: 10px
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-ul li a {
	display: inline-block;
	text-decoration: none;
	position: relative
}

#wp-frontend-delete-account-review-notice .wp-frontend-delete-account-review-ul li a span {
	margin-top: 3px;
	margin-right: 5px
}

a#wp-frontend-delete-account-dismiss {
	float: right;
}

#wp-frontend-delete-account-settings-page-container, .wpfda-pro-settings-container {
	align-items: start;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 300px;
	max-width: 1500px;

	.wp-frontend-delete-account-sidebar {
		padding-right: 25px;
	}

	.wp-frontend-delete-account-box {
		background: #fff;
		border: 1px solid #e0e0e0;
		border-radius: 6px;
		padding: 12px 24px;
	}
}