.wpfda-enable:hover {
  cursor: pointer;
}

span.wpfda-enable.dashicons.dashicons-marker {
    width: 2px;
    height: 2px;
    color: silver;
    font-size: 14px;
    padding-top:5px;
    color:limegreen;
}

.wpfda-disable:hover {
  cursor: pointer;
}

span.wpfda-disable.dashicons.dashicons-marker {
    width: 2px;
    height: 2px;
    color: silver;
    font-size: 14px;
    padding-top:5px;
    color:silver;
}

.wp-core-ui #wp-frontend-delete-account-settings-page select {
    width: 32%;
}

#wp-frontend-delete-account-settings-page input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
   width: 32%;
}
