.wp-frontend-delete-account-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	background-color: rgba(0, 0, 0, .4)
}

.wp-frontend-delete-account-modal-content {
	position: relative;
	margin-left: 160px;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: .4s;
	animation-name: animatetop;
	animation-duration: .4s
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

.close {
	color: #000;
	float: right;
	font-size: 28px;
	font-weight: 700
}

.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer
}

.wp-frontend-delete-account-modal-header {
	padding: 2px 16px;
	background-color: #e27730;
	color: #fff
}

.wp-frontend-delete-account-modal-header a {
	color: #fff
}

.wp-frontend-delete-account-modal-body * {
	box-sizing: border-box
}

.wp-frontend-delete-account-modal-body input[type=text],
.wp-frontend-delete-account-modal-body select,
.wp-frontend-delete-account-modal-body textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical
}

.wp-frontend-delete-account-modal-body label {
	padding: 12px 12px 12px 0;
	display: inline-block
}

.wp-frontend-delete-account-modal-body input[type=submit] {
	background-color: #4caf50;
	color: #fff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right
}

.wp-frontend-delete-account-modal-body input[type=submit]:hover {
	background-color: #45a049
}

.wp-frontend-delete-account-modal-body .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px
}

.wp-frontend-delete-account-modal-body .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px
}

.wp-frontend-delete-account-modal-body .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px
}

.wp-frontend-delete-account-modal-body .row:after {
	content: "";
	display: table;
	clear: both
}

.wp-frontend-delete-account-modal-footer {
	padding: 2px 8px;
	background-color: #5cb85c;
	color: #fff
}

.wpfda-enable:hover {
  cursor: pointer;
}

span.wpfda-enable.dashicons.dashicons-marker {
    width: 2px;
    height: 2px;
    color: silver;
    font-size: 14px;
    padding-top:5px;
    color:limegreen;
}

.wpfda-disable:hover {
  cursor: pointer;
}

span.wpfda-disable.dashicons.dashicons-marker {
    width: 2px;
    height: 2px;
    color: silver;
    font-size: 14px;
    padding-top:5px;
    color:silver;
}

.wp-core-ui #wp-frontend-delete-account-settings-page select {
    width: 32%;

}

#wp-frontend-delete-account-settings-page input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
   width: 32%;
}
